services:
  geo-transit-backend:
    container_name: nestjs-api-geotransit
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "${BACKEND_PORT}:4000"
    volumes:
      - ".:/src/app/nestjs"
      - /src/app/nestjs/node_modules
    depends_on:
      - postgres
    env_file:
      - .env
    command: sleep infinity
  postgres:
    container_name: postgres-geotransit
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_HOST_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: