services:
  geo-transit-backend:
    container_name: nestjs-api-geotransit
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ".:/src/app/nestjs"
